name: "Release"
description: "Release"

inputs:
  releaseChannel:
    required: false
    description: "The release channel to use for the release. 'stable' or 'pre-release'"
    default: "pre-release"
  args:
    required: false
    description: "Additional arguments to pass to Tauri"
  HMAC_KEY:
    required: false
    description: "The HMAC key to use for signing folders for upload (Optional)"
  GITHUB_TOKEN:
    required: true
    description: "The GitHub token to use for the release"
  TAURI_PRIVATE_KEY:
    required: true
    description: "The private key to use for signing the release"
  TAURI_PRIVATE_KEY_PASSWORD:
    required: true
    description: "The password for the private key"
  ENCRYPTION_KEY:
    required: true
    description: "The encryption key for the application"
  ENCRYPTION_IV:
    required: true
    description: "The encryption IV for the application"

runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
      with:
        node-version: 23
        cache: npm
        cache-dependency-path: package-lock.json

    - run: node --version
      shell: bash
    - run: npm --version
      shell: bash

    - run: npm ci
      shell: bash

    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2
      with:
        workspaces: "./src-tauri -> target"

    - name: Build and Create Release
      id: tauri
      uses: tauri-apps/tauri-action@42e9df6c59070d114bf90dcd3943a1b8f138b113 # v0
      env:
        GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN }}
        TAURI_SIGNING_PRIVATE_KEY: ${{ inputs.TAURI_PRIVATE_KEY }}
        TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ inputs.TAURI_PRIVATE_KEY_PASSWORD }}
        ENCRYPTION_KEY: ${{ inputs.ENCRYPTION_KEY }}
        ENCRYPTION_IV: ${{ inputs.ENCRYPTION_IV }}
        HMAC_KEY: ${{ inputs.HMAC_KEY }}
      with:
        tagName: "vrc-world-manager-v__VERSION__"
        releaseName: "vrc-world-manager v__VERSION__"
        includeUpdaterJson: true
        updaterJsonPreferNsis: true
        prerelease: ${{ inputs.releaseChannel == 'pre-release' }}
        args: ${{ inputs.args }}

    - name: Upload latest.json to Release
      shell: bash
      env:
        GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN }}
        TAG_NAME: ${{ steps.tauri.outputs.releaseTagName }}
      run: |
        if [ -f "latest.json" ]; then
           echo "Uploading latest.json to release $TAG_NAME..."
           gh release upload "$TAG_NAME" latest.json --clobber
        else
           echo "latest.json not found, skipping upload."
        fi
